.sidebar{
  
  position: sticky;
  //align-self: flex-start;
  min-width: 12%;
  min-height: 100%;
  
  .container{
    display: flex; 
    flex-direction: column; 
    padding-left: 1rem;
    


    gap: 1rem;
    height: 100%;
    background: grey;
   

    a{
      color: #0645ad; 
    }

    img{
      padding-top: 1.5rem;
      max-width: 9rem; 
      max-height: 9rem;
      
    }

  }
}
