* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appLayout {
  display: flex;
  height: 100vh;   
  width: 100%;     
  overflow: hidden;
}


.pageContent {
  flex: 1;    
  padding: 1rem;
  overflow-y: auto;
}
