.home{
  flex: 1;
  display: flex; 
  flex-direction: column;
  justify-content: left;

  max-width: 88%;

  h1{
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    color:red;

  }
  


}
